@model FinalProject.Data.Models.AppModels.Patient

@{
    ViewData["Title"] = "Doctor Profile";
}

<h2>@Model.Name's Profile</h2>

<div class="row">
    <div class="col-md-4">
        <img src="~/ProfImg/@(Model.Image ?? "default.jpg")" alt="Doctor Image" class="img-thumbnail" />
    </div>
    <div class="col-md-8">
        <dl class="row">
            <dt class="col-sm-4">Full Name:</dt>
            <dd class="col-sm-8">@Model.Name</dd>

            <dt class="col-sm-4">Email:</dt>
            <dd class="col-sm-8">@Model.Email</dd>

            <dt class="col-sm-4">Phone:</dt>
            <dd class="col-sm-8">@Model.Phone</dd>

            <dt class="col-sm-4">Gender:</dt>
            <dd class="col-sm-8">@Model.Gender</dd> 
            
            <dt class="col-sm-4">Date Of Birth:</dt>
            <dd class="col-sm-8">@Model.DateOfBirth</dd>

            <dt class="col-sm-4">Address:</dt>
            <dd class="col-sm-8">@Model.Address</dd>
              
            <dt class="col-sm-4">Image:</dt>
            <dd class="col-sm-8">@Model.Image</dd>
              
             
        </dl>

        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit Profile</a>
    </div>
</div>
